In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('crime_data.csv')

In [3]:
df.head()

   Unnamed: 0  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [4]:
df.shape

(50, 5)

In [6]:
## normalize data
from sklearn.preprocessing import StandardScaler

In [8]:
norm = StandardScaler()

In [10]:
norm = norm.fit_transform(df.iloc[:,1:])

In [13]:
## make a model
from sklearn.cluster import DBSCAN

In [16]:
dbscan = DBSCAN(eps=4, min_samples=4)

In [17]:
model = dbscan.fit(norm)

In [21]:
label = model.labels_

In [28]:
##identify the points which make a core points
core= np.zeros_like(label, dtype=bool)
core[dbscan.core_sample_indices_]=True

In [29]:
dbscan.core_sample_indices_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
      dtype=int64)